header{
    height: 10vh;
    display: flex;
    align-items: center;
    font-size: 150%;
    justify-content: center;
    color: rgb(239, 111, 108);
}
.card-desc {
    min-height: 110px;
}
body {
    margin: 0;
    background: 
        linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.85)),
        url("./imgs/green_felt.jpg");
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    text-align: center;
    font-size: 3rem;
    color: gold;
    text-shadow: 0 0 15px rgba(255, 215, 0, 0.7);
    margin-top: 20px;
}
.card {
    transition: transform 0.3s, box-shadow 0.3s ;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 0 25px rgba(255, 215, 0, 0.6);
}

